@CHARSET "UTF-8";

.form-txt {
	width: 100%;
	height: 25px;
	border: 0.5px solid #999;
	font-size: 20px;
	background-color: #FFFFCC;
	border-top: 2px solid #888888;
	border-left: 2px solid #888888;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	margin-right: 15px;
}

.radio {
	float: left;
	font-size: 15px;
	font-weight: 200;
	color: #666666;
	margin-left:0px;
	line-height:100%;

}

label.radio {
	line-height:20px;
	margin-right:2px;
}

.checkbox-form {
	text-align: left;
	margin-left: 10%;
	height: 50px;
}


